@model HotelBooking.DTO.BookingDto

@{
    Layout = "_Layout";
    ViewData["Title"] = "Delete Booking";
}

<h2>Delete Booking</h2>

<h4>Booking</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfChildren)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfChildren)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfAdults)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfAdults)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="BookingID" />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>
</div>
<div>
    <a asp-controller="Booking" asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
